{% load static %}
<!DOCTYPE html>
<html data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Site</title>
    {% load static %}
        <link rel="stylesheet" href="{% static 'output.css' %}">
</head>
<body>
    <nav>
        <!-- Put your navigation items here -->
    </nav>
    <main>
        {% block content %}
        <!-- The content block can be overridden by child templates -->
        {% endblock content %}
    </main>
    <footer>
        <!-- Put your footer items here -->
    </footer>
</body>
</html>
