{% load static %}
<!DOCTYPE html>
<html data-theme="dark">
    <head>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/luxon@2.0.2/build/global/luxon.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1.0.0"></script>
        <link rel="stylesheet" href="{% static 'output.css' %}">
        <script>
            const ongoingTask = "{{ ongoing_task }}";
            var ongoingTaskData = JSON.parse('{{ ongoing_task | escapejs }}');
        </script>
        <script type="text/javascript" src="{% static '/js/timer.js' %}">
<script type="text/javascript" src="{% static '/js/process_data.js' %}"></script>
</head>
<body>
<div class="flex flex-col w-full lg:flex-row">
<div class="grid flex-grow h-120 card bg-base-300 rounded-box place-items-center">
<div class="flex flex-col flex-wrap place-items-center ">
<div class="flex join">
{% for i in range_20 %}
{% if i|divisibleby:4 %}{% endif %}
{% if i < today_tasks_count %}
<img class="join-item" src="{% static 'fire_emoji.png' %}">
{% else %}
<img class="join-item" src="{% static 'fire_emoji_outline.png' %}">
{% endif %}
{% if forloop.counter|divisibleby:4 and not forloop.last %}
</div>
<div class="flex join">
{% endif %}
{% endfor %}
</div>
</div>
</div>
<div class="grid flex-grow h-120 card bg-base-300 rounded-box place-items-center">
<form method="post">
{% csrf_token %}
<input type="text" class="join-item input input-bordered w-full max-w-xs" id="task_name" name="task_name" placeholder="Enter new task name" />
<br>
<br>
<select class="select w-full max-w-xs input-bordered" id="select_task_name" name="select_task_name">
<option value="">Select task</option>
{% for task_name in task_names %}<option value="{{ task_name.name }}">{{ task_name.name }}</option>{% endfor %}
</select>
<br>
<br>
<input type="radio" class="join-item btn" name="task_length" value="1" aria-label="1" />
<input type="radio" class="join-item btn" name="task_length" value="15" aria-label="15" />
<input type="radio" class="join-item btn" name="task_length" value="25" checked aria-label="25" />
<input type="radio" class="join-item btn" name="task_length" value="45" aria-label="45">
<input class="btn start" type="submit" value="Start" />
<br>
<br>
</form>
<div id="timer" class="radial-progress " style="--value:00; --size:18rem; --thickness: 5px">00:00</div>
</div>
<div class="grid flex-grow h-120 card bg-base-300 rounded-box place-items-center">
<h1>Schedule</h1>
<table class="table table-zebra">
<thead>
<tr>
<th>Task</th>
<th>Date Time</th>
</tr>
</thead>
<tbody>
{% for event in calendar_events %}
<tr>
<td>{{ event.summary }}</td>
<td>{{ event.start }}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
</div>
<div class="divider"></div>
<div class="grid flex-grow h-32 card bg-base-300 rounded-box">
<div>
<div style="width: 900px; height: 600px;">
<canvas id="chartBarTotal"></canvas>
</div>
</div>
<div>
<div style="width: 900px; height: 600px;">
<canvas id="chartToday"></canvas>
</div>
</div>
<div>
<div style="width: 900px; height: 600px;">
<canvas id="chartLastWeek"></canvas>
</div>
</div>
<div>
<div style="width: 900px; height: 600px;">
<canvas id="chartTotal"></canvas>
</div>
</div>
</div>
<div class="divider"></div>
<script>

function chartDataToday(tasks) {
    const today = luxon.DateTime.local().startOf('day'); // Get the start of the current day
    const groupedData = {};
    const labels = Array.from({ length: 24 }, (_, i) => i.toString().padStart(2, '0') + ':00');

    for (const task of tasks) {
        const taskDate = luxon.DateTime.fromISO(task.date);

        // Check if the task occurred during the current day
        if (taskDate.hasSame(today, 'day')) {
            const hour = taskDate.hour;
            const taskName = task.name__name;

            if (!groupedData[taskName]) {
                groupedData[taskName] = Array(24).fill(0);
            }

            groupedData[taskName][hour] += task.length / 60;  // convert to hours
        }
    }

    const datasets = Object.entries(groupedData).map(([label, data], i, arr) => ({
        label,
        data,
        borderColor: pickColor(i, arr.length),
        fill: false
    }));

    return { labels, datasets };
}

function chartDataLastWeek(tasks) {
    const oneWeekAgo = luxon.DateTime.local().startOf('day').minus({ weeks: 1 }); // Get the date of one week ago
    const now = luxon.DateTime.local().startOf('day'); // Get the start of the current day

    const labels = [];
    for (let i = 0; i < 7; i++) {
        labels.push(oneWeekAgo.plus({ days: i }).toFormat('EEEE')); 
    }

    const groupedData = {};
    for (const task of tasks) {
        const taskDate = luxon.DateTime.fromISO(task.date).startOf('day');

        // Check if the task occurred during the last week
        if (taskDate >= oneWeekAgo && taskDate <= now) {
            const day = taskDate.toFormat('EEEE');
            const taskName = task.name__name;

            if (!groupedData[taskName]) {
                groupedData[taskName] = Array(7).fill(0);
            }

            const dayIndex = labels.indexOf(day);
            if (dayIndex !== -1) {
                groupedData[taskName][dayIndex] += task.length / 60;  // convert to hours
            }
        }
    }

    const datasets = Object.entries(groupedData).map(([label, data], i, arr) => ({
        label,
        data,
        borderColor: pickColor(i, arr.length),
        fill: false
    }));

    return { labels, datasets };
}
function chartBarTotal(tasks) {
    const groupedData = {};

    for (const task of tasks) {
        const taskName = task.name__name;

        if (!groupedData[taskName]) {
            groupedData[taskName] = 0;
        }

        groupedData[taskName] += task.length / 60;  // convert to hours
    }

    const labels = Object.keys(groupedData);
    const data = Object.values(groupedData);

    return {
        labels: labels,
        datasets: [{
            label: 'Total Hours',
            data: data,
            backgroundColor: data.map((_, i) => pickColor(i, data.length)),
            borderColor: data.map((_, i) => pickColor(i, data.length)),
            borderWidth: 1
        }]
    };
}
function chartDataTotal(tasks) {
    const groupedData = {};
    const labels = Array.from({ length: 24 }, (_, i) => i.toString().padStart(2, '0') + ':00');

    for (const task of tasks) {
        const hour = luxon.DateTime.fromISO(task.date).hour;
        const taskName = task.name__name;

        if (!groupedData[taskName]) {
            groupedData[taskName] = Array(24).fill(0);
        }

        groupedData[taskName][hour] += task.length / 60;  // convert to hours
    }

    const datasets = Object.entries(groupedData).map(([label, data], i, arr) => ({
        label,
        data,
        borderColor: pickColor(i, arr.length),
        fill: false
    }));

    return { labels, datasets };
}
function pickColor(i, total) {
    const hue = 170 + Math.round((i / total) * (320 - 170));
    return `hsl(${hue}, 100%, 50%)`;
}


document.addEventListener('DOMContentLoaded', function () {
    if (!Notification) {
        console.log('Desktop notifications not available in your browser.');
        return;
    }

    if (Notification.permission !== 'granted') {
        Notification.requestPermission();
    }
});
let tasks = JSON.parse('{{ tasks | escapejs | safe }}'); // Parse the JSON string to a JavaScript object
const todayTasksCount = {{ today_tasks_count }};
{% comment %}const calendarTasks = JSON.parse('{{ calendar_events | escapejs | safe }}');{% endcomment %}
console.log(todayTasksCount)
{% comment %}console.log(calendarTasks){% endcomment %}
document.querySelector('.start').addEventListener('click', function() {
    const outlines = document.querySelectorAll('img[src$="fire_emoji_outline.png"]');
    if (outlines.length) {
        outlines[0].src = "{% static 'fire_emoji.png' %}";
    }
});
var { labels, datasets } = chartDataTotal(tasks);
var ctx = document.getElementById('chartTotal').getContext('2d');
var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: datasets
        },
        options: {
            plugins: {
                title: {
                    display: true,
                    text: 'Total:'
                }
            },
            scales: {
                x: {
                    title: {
                        display: true,
                        text: 'Time of Day'
                    }
                },
                y: {
                    title: {
                        display: true,
                        text: 'Cumulative Hours'
                    }
                }
            }
        }
    });

var { labels, datasets } = chartDataToday(tasks);
var ctx = document.getElementById('chartToday').getContext('2d');
var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: datasets
        },
        options: {
            plugins: {
                title: {
                    display: true,
                    text: 'Today:'
                }
            },
            scales: {
                x: {
                    title: {
                        display: true,
                        text: 'Time of Day'
                    }
                },
                y: {
                    title: {
                        display: true,
                        text: 'Cumulative Hours'
                    }
                }
            }
        }
    });

var { labels, datasets } = chartDataLastWeek(tasks);
var ctx = document.getElementById('chartLastWeek').getContext('2d');
var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: datasets
        },
        options: {
            plugins: {
                title: {
                    display: true,
                    text: 'Past Week:'
                }
            },
            scales: {
                x: {
                    title: {
                        display: true,
                        text: 'Day'
                    }
                },
                y: {
                    title: {
                        display: true,
                        text: 'Cumulative Hours'
                    }
                }
            }
        }
    });

var ctx = document.getElementById('chartBarTotal').getContext('2d');
const chartData = chartBarTotal(tasks);
var myChart = new Chart(ctx, {
    type: 'bar',  // Change the type to 'bar' for bar graph
    data: chartData,
    options: {
        plugins: {
            title: {
                display: true,
                text: 'Total Hours per Task'
            }
        },
        scales: {
            x: {
                title: {
                    display: true,
                    text: 'Task Name'
                }
            },
            y: {
                beginAtZero: true,  // Make sure y-axis starts at 0
                title: {
                    display: true,
                    text: 'Total Hours'
                }
            }
        }
    }
});
</script>
</body>
</html>
